<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:protect="http://www.hedge.us/protect"
	layout:decorator="template">
<head>
	<title>Photos - Album Add Photos</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row well">
				<form method="POST">
					<div class="checkbox" th:each="file : ${files}">
						<label class="checkbox-inline">
							<input type="checkbox" name="files[]" protect:value="${file.name}" />
							<img class="img-thumbnail" protect:src="@{/photos/photo/preview/} + ${file.name}" />
							<span th:if="${file.duplicate}"><i class="fa fa-warning "></i> Duplicate File! - </span>
							<span th:text="${#dates.format(file.date, 'MMM dd, yyyy hh:mm aa')}"></span>
						</label>
					</div>
					<button class="btn btn-primary btn-lg" type="submit">Add Photos</button>
				</form>
			</div> 
		</div>
	</div>
	
	<div layout:fragment="js">
		<script th:src="@{/vendor/momentjs-2.5.0/momentjs.min.js}"></script>
	</div>
</body>
</html>