<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
	<title>Error</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="well">
				<h1>I'm sorry but there has been an error <i class="fa fa-frown-o"></i></h1>
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							Show Details <i class="fa fa-chevron-right"></i>
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<p th:if="${url}">Source Url: <span th:text="${url}"></span></p>
							<p th:if="${exception}" th:text="${exception.message}"></p>
							<ul th:if="${exception.stackTrace}" th:each="trace: ${exception.stackTrace}">
								<li th:text="${trace}"></li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>