<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/dialect"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/favicon.ico" />

	<title>Test</title>

	<!--/* Bootstrap core CSS */-->
	<link href="/resources/bootstrap-3.0.3/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/resources/font-awesome-4.0.3/css/font-awesome.min.css" />
	<link href="/resources/css/site.css" rel="stylesheet" />
</head>
<body>
	<!--/* Wrap all page content here */-->
	<div id="wrap">

		<!--/* Fixed navbar */-->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="/resources/img/atom_logo.svg" />
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Blog</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					
					<ul class="nav navbar-nav pull-right">
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--/* Notifications */-->
		<div th:if="${success}" class="container">
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p th:text="${success}"></p>
			</div>
		</div>
		<div th:if="${error}" class="container">
			<div class="alert alert-error alert-dismissable">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p th:text="${error}"></p>
			</div>
		</div>

		<!--/* Begin page content */-->
		<div class="container clearfix" layout:fragment="content">
			Page Content Goes Here
		</div>
	</div>

    <footer id="footer">
      <div class="container ">
        <h6 class="text-center text-muted">&copy; 2013 Christopher Hotchkiss</h6>
      </div>
    </footer>


    <!--/* Core JavaScript
    ==================================================
    Placed at the end of the document so the pages load faster */-->
    <script src="/resources/jquery-2.0.3/jquery.min.js"></script>
    <script src="/resources/bootstrap-3.0.3/bootstrap.min.js"></script>
    <div layout:fragment="js"></div>
</body>
</html>