.navbar .breadcrumb {
		margin: 0 7px;
}
@media (min-width: 768px) {
    .navbar .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

/* center container with CSS */
.photos{
  margin: 0 auto;
}
.photos-loaded{
  margin: 0 auto;
}

.item {
  width: 275px;
  float: left;
}

.item img {
  display: block;
  width: 100%;
}