/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -35px;
  /* Pad bottom by footer height */
  padding: 0 0 35px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 35px;
  background-color: rgba(245, 245, 245, 0.8);
}

#wrap > .container {
  padding: 35px 15px 0;
}

/* Background */
body {
	background-color: #cdd3df;
	background-image: url('/resources/img/banner.jpeg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center bottom; 
	
	padding-top: 40px;
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0.8);
    border-color: #E7E7E7;
}